<h1> Welcome to {{model.name}} </h1>

<h2>{{new-listing category=model save="save"}}</h2>

<i><h4>Listings</h4></i>

<ul class="list-group">
  {{#each model.listings as |listing|}}
 {{listing-component listing=listing destroyListing="destroyListing"}}
  {{/each}}
</ul>
