

<p><a href="/">colleenslist</a> > <a href="/">Portland</a> > <a href="/">Categories</a> > {{model.name}}</p>

<h2>{{new-listing category=model save="save"}}</h2>

<i><h4>Listings</h4></i>
{{different-display category=model destroyListing="destroyListing"}}
