<h1> Welcome to Craigslist!!!! </h1>

<ul>
  {{#each model as |category|}}
    {{categories-component category=category}}
  {{/each}}
</ul>
We hope you find exactly what you're looking for in a place to stay.
