<h1> Welcome to Craigslist!!!! </h1>

<ul>
  {{#each model as |category|}}
    {{categories-component category=category destroyCategory="destroyCategory"}}
  {{/each}}
</ul>

Click on a category to see its listings!
