
<h1>{{model.title}}</h1>
<p>  {{listing.details}} </p>
{{#if (listing.image)}}
  <p><img src={{listing.image}}></p>
{{/if}}


  {{#link-to 'category' model.category.id}}Back to {{model.category.name}}{{/link-to}}
